*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 112rem;
  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
}
.content {
  width: 70%;
}
.sidebar {
  width: 25%;
}

.sidebar li {
  font-size: 2rem;
  font-weight: bold;
  list-style-type: none;
  display: block;
  padding-bottom: 4rem;
}

.sidebar a {
  color: #252525;
  text-decoration: none;
}

.sidebar a:visited {
  color: inherit;
}

.sidebar a:hover {
  color: #775252;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: mediumslateblue;
  color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.btn:disabled,
.btn[disabled] {
  background-color: rgb(114, 111, 134);
  color: #e4d8d8;
}
.y-input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.1rem 2rem;
  color: inherit;
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  transition: all 0.3s;
  border: 1px solid #ccc;
  margin-right: auto;
}
.country {
  display: flex;
  margin: 10rem 0;
  justify-content: space-between;
}
.flag {
  width: 40%;
}
.flag img {
  width: 100%;
}
.country-details {
  width: 40%;
}
.country-details li {
  list-style-type: none;
  margin-bottom: 1rem;
}
